#detailsContainer {
  display:table;
  width: 90%;
  position:relative;
  padding: 15px;
  box-sizing: border-box;
}

.detailsTop {
  display:table;
  width:100%;
  position: relative;
}


.details {
  float: left;
  box-sizing: border-box;
  width: 70%;
}

.detailsName {
  margin: 2px;
  font-size: 1.3em;
  color: #34495e;
  font-weight: bold;
  -webkit-user-select: text;
}

.detailsBiome {
  margin: 4px 0px 12px 0px;
  color: #34495e;
  font-weight: bold;
}

.detailsCoords {
  font-family: monospace;
  font-size: 0.9em;
}

.detailsImage {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 1px solid blue;
  float: right;
  visibility: hidden;
}

.detailsBottom {
  width: 100%;
  display: table;
  margin-top: 10px;
  position: relative;
  clear: right;
}

.detailsDescription {
  float: left;
  width: 60%;
  height: 360px;
  overflow: auto;
  margin-bottom: 11px;
}

.detailsTags {
  float: right;
  width: 180px;
} 

.tagList {
  display: inline-block;
  background-color: #2980fb;
  color: white;
  padding: 4px;
  margin: 4px;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 11px;
}
