<div id="sidebar">
  <a id="addPlanet" href="#/add-planet">@</a>
  <input type="checkbox" class="sectorFilter" id="alphaFilter" ng-model="alphaFilter" checked><label for="alphaFilter"></label>
  <input type="checkbox" class="sectorFilter" id="betaFilter" ng-model="betaFilter" checked><label for="betaFilter"></label>
  <input type="checkbox" class="sectorFilter" id="gammaFilter" ng-model="gammaFilter" checked><label for="gammaFilter"></label>
  <input type="checkbox" class="sectorFilter" id="deltaFilter" ng-model="deltaFilter" checked><label for="deltaFilter"></label>
  <input type="checkbox" class="sectorFilter" id="xFilter" ng-model="xFilter" checked><label for="xFilter"></label>
</div>
